body {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-left: 20px; 
}

.form-container {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: -100px; 
}

.resultado-container {
    background-color: #ffffff;
    padding: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 600px;
    margin-top: -1119px;
}

.form-container h1, .resultado-container h1 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para los campos de texto y número */
.form-container input[type="text"],
.form-container input[type="number"] {
    width: 100%; /* Movido desde inline para nombre, apaterno, amaterno */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos específicos para los campos de fecha */
.form-container .fecha-nacimiento input[type="number"] {
    width: 30%; /* Movido desde inline para dia, mes, año */
    display: inline-block; /* Para que se muestren en línea */
    margin-right: 5px; /* Espacio entre los campos */
}

/* Estilos para el botón de submit */
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para los radio buttons */
.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container div {
    margin-bottom: 15px;
}

.imagen-signo {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

.resultado-texto {
    font-weight: bold; 
}